body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f4f8;
}

.admin-container {
    display: flex;
    height: 100vh;
}

.admin-sidebar {
<<<<<<< HEAD
    background-color: #2c3e50;
=======
    background-color: #222;
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
    width: 220px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
<<<<<<< HEAD
    border-bottom: 1px solid #444;
=======
    border-bottom: 1px solid  #222;
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
    padding-bottom: 10px;
}

.admin-sidebar button {
<<<<<<< HEAD
    background-color: #34495e;
=======
    background-color:  #222;
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
    border: none;
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.admin-sidebar button:hover {
<<<<<<< HEAD
    background-color: #1abc9c;
=======
    background-color: rgb(255, 215, 64);
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
}

.admin-main {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.admin-main h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.formulario {
    display: none;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.formulario.visible {
    display: block;
}

.formulario h2 {
    margin-bottom: 20px;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="number"],
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.check {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.guardar {
<<<<<<< HEAD
    background-color: #1abc9c;
=======
    background-color: rgb(255, 215, 64);
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.guardar:hover {
<<<<<<< HEAD
    background-color: #16a085;
=======
    background-color: rgb(255, 215, 64);
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
}
.volver-btn {
    display: block;
    margin-top: 40px;
    padding: 10px 15px;
<<<<<<< HEAD
    background-color: #16a085;
=======
    background-color: rgb(255, 215, 64);
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.volver-btn:hover {
    background-color: #666;
}