body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.site-header {
    background-color: #222;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.btn-volver {
    display: inline-block;
    margin-top: 10px;
    color: #fff;
    background-color: #555;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mesas-grid {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.mesa-card {
    background: #fff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}

button {
<<<<<<< HEAD
    background-color: #28a745;
    color: white;
=======
    background-color: rgb(255, 200, 0);
    color: black;
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
<<<<<<< HEAD
    background-color: #218838;
=======
    background-color: #28a745;
>>>>>>> 9eda3d83727041f23f794cba02c0a00ab75cc144
}

.no-mesas {
    font-size: 1.2rem;
    color: #c00;
    margin: 30px 0;
}

.btn-pedido {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
