<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante 360 - Pedidos Entrantes</title>
    <link rel="stylesheet" href="/static/CSS/styleEmp.css">
    <meta http-equiv="refresh" content="15"> <!-- Auto-recarga cada 15s -->
</head>
<body>

<header class="site-header">
    <div class="container">
        <div class="logo"></div>
        <nav>
            <details>
                <summary>Banners</summary>
                <a href="#">Menú</a>
            </details>

            <a href="/empleados">Empleados</a>

            <details>
                <summary>Pedidos</summary>
                <a href="#">Aceptados</a>
                <a href="#">Opción 2</a>
            </details>

            <a href="#" class="underline">Estadisticas</a>
        </nav>
        <div class="auth-buttons">
            <a href="/login" class="btn-outline">Ingresar</a>
        </div>
    </div>
</header>

<h2>Gestín de Pedidos Entrantes</h2>
<div class="container-form">
    <form method="get" action="/pedidos_entrantes">
        <label>Ordenar por:</label>
        <select name="orden" onchange="this.form.submit()">
            <option value="hora" {% if filtro == 'hora' %}selected{% endif %}>Hora de llegada</option>
            <option value="prioridad" {% if filtro == 'prioridad' %}selected{% endif %}>Monto total</option>
        </select>
    </form>

    {% if pedidos %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Cliente</th>
                <th>Monto Total</th>
                <th>Hora</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pedidos %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[5] }}</td>
                <td>{{ p[3] }}</td>
                <td>${{ "%.2f"|format(p[4]) }}</td>
                <td>{{ p[2] }}</td>
                <td><a href="{{ url_for('ver_pedido', id_pedido=p[0]) }}">Ver Detalles</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="color: gray;">No hay pedidos activos en este momento.</p>
    {% endif %}
</div>

<footer class="site-footer">
    <div class="container">
        <p>&copy; 2025 Restaurante 360 | Desarrollado por <a href="#" target="_blank">Brandon Florez y Fredes Acosta</a></p>
    </div>
</footer>

</body>
</html>