{% extends "baseadmi.html" %}

{% block title %}Panel Administrador{% endblock %}

{% block content %}

    <!-- Bienvenida -->
    <section class="welcome">
        ¡Bienvenido, Administrador!
    </section>

    <!-- Opciones del admin -->
    <section class="order-options">
        <div class="order-empleados">
            <h3>Gestionar Empleados</h3>
            <a href="/admin/empleados" class="btn-go">Ir</a>
        </div>
        <div class="order-productos">
            <h3>Administrar Productos</h3>
            <a href="/admin/crud" class="btn-go">Ir</a>
        </div>
        <div class="order-estadisticas">
            <h3>Ver Estadísticas</h3>
            <a href="/admin/estadisticas" class="btn-go">Ir</a>
        </div>
    </section>

{% endblock %}