<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurante 360</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styleindex.css') }}">
</head>
<body>

    <header>
        <div class="logo">
            <img src="{{ url_for('static', filename='IMG/logo3601.png') }}" alt="Logo Restaurante 360">
        </div>
        <nav>
            <a href="#">Servicios</a>
            <a href="#">Contactos</a>
            <a href="#">Nosotros</a>
        </nav>
        <div class="auth-buttons">
            <a href="/login" class="btn-outline">Ingresar</a>
            <a href="/register" class="btn-solid">Registrarse</a>
        </div>
    </header>

    <main>
        <section class="hero">
            <h1>Restaurante 360º</h1>
            <p>¡Regístrate para ser el primero en enterarte de todos los eventos y obtener un descuento en tu primer pedido!</p>
            <div class="hero-buttons">
                <a href="/login" class="btn-outline">Iniciar sesión</a>
                <a href="/register" class="btn-solid">Registrarse</a>
            </div>
        </section>

    </main>

</body>
</html>
