<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Pedidos Entrantes</title>
    <meta http-equiv="refresh" content="15"> <!-- Actualiza cada 15s -->
    <link rel="stylesheet" href="/static/CSS/styleEmp.css">
</head>
<body>
    <body>
     <header class="site-header">
        <div class="container">
            <div class="logo"></div>
            <nav>
                <details>
                    <summary>Banners</summary>
                    <a href="#">Menú</a>
                </details>

                <a href="/empleados">Empleados</a>

                <details>
                    <summary>Pedidos</summary>
                    <a href="#">Aceptados</a>
                    <a href="/pedidos_entrantes">Entrantes</a>
                </details>

                <a href="#" class="underline">Estadisticas</a>
            </nav>
        </div>
    </header>
    <div class="pedidos-container">
    <h2>Gestín de Pedidos Entrantes</h2>
<div class="container-form">
    <form method="get" action="/pedidos_entrantes">
        <label>Ordenar por:</label>
        <select name="orden" onchange="this.form.submit()">
            <option value="hora" {% if filtro == 'hora' %}selected{% endif %}>Hora de llegada</option>
            <option value="prioridad" {% if filtro == 'prioridad' %}selected{% endif %}>Monto total</option>
        </select>
    </form>

    {% if pedidos %}
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Tipo</th>
                <th>Cliente</th>
                <th>Monto Total</th>
                <th>Hora</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for p in pedidos %}
            <tr>
                <td>{{ p[0] }}</td>
                <td>{{ p[5] }}</td>
                <td>{{ p[3] }}</td>
                <td>${{ "%.2f"|format(p[4]) }}</td>
                <td>{{ p[2] }}</td>
                <td><a href="{{ url_for('ver_pedido', id_pedido=p[0]) }}">Ver Detalles</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p style="color: gray;">No hay pedidos activos en este momento.</p>
    {% endif %}
</div>
</body>
</html>
