body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f2f4f8;
}

.admin-container {
    display: flex;
    height: 100vh;
}

.admin-sidebar {
    background-color: #222;
    width: 220px;
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.admin-sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid  #222;
    padding-bottom: 10px;
}

.admin-sidebar button {
    background-color:  #222;
    border: none;
    color: white;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.admin-sidebar button:hover {
    background-color: rgb(255, 215, 64);
}

.admin-main {
    flex: 1;
    padding: 40px;
    overflow-y: auto;
}

.admin-main h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #333;
}

.formulario {
    display: none;
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.formulario.visible {
    display: block;
}

.formulario h2 {
    margin-bottom: 20px;
    color: #444;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input[type="text"],
input[type="number"],
textarea,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

.check {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
}

.guardar {
    background-color: rgb(255, 215, 64);
    border: none;
    padding: 12px;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.guardar:hover {
    background-color: rgb(255, 215, 64);
}
.volver-btn {
    display: block;
    margin-top: 40px;
    padding: 10px 15px;
    background-color: rgb(255, 215, 64);
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.volver-btn:hover {
    background-color: #666;
}
.mensaje-flash {
    background-color: #f40a0a;
    color: #856404;
    border: 1px solid #ffeeba;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    font-size: 0.95rem;
    text-align: center;
}

.mensaje-flash {
    padding: 12px;
    border-radius: 6px;
    margin-bottom: 15px;
    font-weight: bold;
    border: 1px solid transparent;
}

/* Verde para éxito */
.mensaje-flash.success {
    background-color: #d4edda;
    color: #155724;
    border-color: #c3e6cb;
}

/* Rojo para error */
.mensaje-flash.error {
    background-color: #f8d7da;
    color: #721c24;
    border-color: #f5c6cb;
}

